* {
    margin: 0;
    padding: 0;
}
:root {
    --primary-color-1: hsl(14, 45%, 36%);
    --primary-color-2: hsl(332, 51%, 32%);
    --neutral-color-1: hsl(0, 0%, 100%);
    --neutral-color-2: hsl(330, 100%, 98%);
    --neutral-color-3: hsl(30, 54%, 90%);
    --neutral-color-4: hsl(30, 18%, 87%);
    --neutral-color-5: hsl(30, 10%, 34%);
    --neutral-color-6: hsl(24, 5%, 18%);
    --font-size-paragraph: 15px;
    --font-family-1: 'Young serif';
    --font-family-2: 'Outfit';
}
body {
    background-color: var(--neutral-color-3);
    width: 100%;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card {
    background-color: var(--neutral-color-1);
    width: min-content;
    height: 100%;
    margin: 123px 352px 124px;
    border-radius: 20px;
}
.content {
    margin: 40px;
}
img {
    width: 600px;
    border-radius: 10px;
}
.content h1 {
    margin: 20px 0 10px 0;
    font-size: 37px;
    font-weight: normal;
    font-family: var(--font-family-1);
    color: var(--neutral-color-6);
}
.content p {
    font-size: var(--font-size-paragraph);
    font-family: var(--font-family-2);
    font-weight: 400;
    color: var(--neutral-color-5);
}
.section {
    margin-top: 30px;
}
#preparation {
    background-color: var(--neutral-color-2);
    border-radius: 10px;
}
#preparation h5 {
    padding: 20px 27px 15px 27px;
    font-size: 18px;
    font-weight: 700;
    font-family: var(--font-family-2);
    color: var(--primary-color-2);
}
#preparation ul {
    padding-left: 45px;
    padding-bottom: 20px;
}
#preparation li {
    padding-left: 20px;
    padding-bottom: 10px;
    font-size: 15px;
    font-family: var(--font-family-2);
    color: var(--neutral-color-5);
}
#preparation ::marker {
    color: var(--primary-color-2);
}
span {
    font-weight: bold;
}
.section-title {
    padding-bottom: 15px;
    font-size: 32px;
    font-weight: normal;
    font-family: var(--font-family-1);
    color: var(--primary-color-1);
}
#ingredients {
    padding-bottom: 25px;
}
#ingredients ul {
    padding-left: 20px;
    font-family: var(--font-family-2);
}
#ingredients ::marker {
    color: var(--primary-color-1);
}
#ingredients li {
    padding-left: 17px;
    padding-bottom: 10px;
    font-size: 17px;
    color: var(--neutral-color-5);
}
#instructions {
    padding-bottom: 20px;
}
#instructions ol{
    padding-left: 20px;
    font-family: var(--font-family-2);
}
#instructions ol li {
    padding-left: 20px;
    padding-bottom: 10px;
    font-size: 15px;
    color: var(--neutral-color-5);
}
#instructions ::marker {
    font-weight: 400;
    color: var(--primary-color-1);
}
#nutrition {
    padding-bottom: 20px;
}
#nutrition p {
    padding-bottom: 15px;
    font-size: 16px;
    color: var(--neutral-color-5);
}
#nutrition table {
    font-family: var(--font-family-2);
    width: 100%;
    border-collapse: collapse;
}
#nutrition td {
    padding: 10px 30px;
    color: var(--neutral-color-5);
    font-weight: 400;
    border-bottom: 1px solid var(--neutral-color-4);
}
#nutrition tr:last-child td {
    border-bottom: none;
}
#nutrition .nutritional-values {
    font-weight: 700;
    color: var(--primary-color-1);
}
hr {
    border: 0.5px solid var(--neutral-color-4);
}
.attribution {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}

@media screen and (max-width: 375px) {
    .card {
        width: 100%;
        margin: 0;
        border-radius: 0;
    }
    .content img {
        margin: -40px -40px 10px -40px;
        width: 375px;
        border-radius: 0;
    }
    .content h1 {
        font-size: 36px;
        margin: 15px -5px;

    }
    .content p {
        font-size: 16px;
        margin: 15px -10px 15px -5px;
    }
    .section {
        margin: 30px -10px 15px -5px;
    }
    #preparation ul li {
        width: 160px;
    }
    #ingredients ul li {
        font-size: 16px;
    }
    #instructions ol li {
        width: 255px;
    }
    #nutrition p {
        background-color: red;
        margin-left: 0px;
        margin-right: 10px;
    }
    .nutritional-values {
        background-color: red;
        width: 56%;
    }
}
